body{
    margin: 0;
    font-family: Arial;
}

.content{
    padding: 3rem 2rem;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 90, 90, 1);
}

.header > p{
    font-size: 14px;
    letter-spacing: 1px;
    color: white;
    padding: 0.5rem;
}